body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.barTooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #ffffff;
	display: none;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 150px;
	z-index: 10;
	cursor: pointer;
}    